# Function in Python

### Define a Fuction

In [2]:
def our_func():
    pass

#execute/calling a function
our_func()

In [3]:
print(our_func())

None

In [7]:
def our_func():
    print("The function executed successfully.")

our_func()

The function executed successfully.

### Retun

In [15]:
def our_func():
    return 'It is a returned text from the Function.'

print(our_func())
print(our_func().upper())

It is a returned text from the Function.
IT IS A RETURNED TEXT FROM THE FUNCTION.

### Function Parameter

In [19]:
def our_func(msg):
    return 'The function return the message {}'.format(msg)

print(our_func('Hello!'))

The function return the message Hello!

In [21]:
def person(name, age=20):
    return "The person name is {} and age is {}".format(name, age)

print(person('Smith', 20))

The person name is Smith and age is 20

In [23]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)
    
student_info('Math', 'Art', name='Smith', Age=22)

('Math', 'Art')
{'name': 'Smith', 'Age': 22}

In [25]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

courses = ['Math', 'Art']
info = {'name':'Smith', 'Age':22}

student_info(courses, info)

(['Math', 'Art'], {'name': 'Smith', 'Age': 22})
{}

In [26]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

courses = ['Math', 'Art']
info = {'name':'Smith', 'Age':22}

student_info(*courses, **info)

('Math', 'Art')
{'name': 'Smith', 'Age': 22}

### Practice

In [27]:
# Number of days per month. First value placeholder for indexing purposes.
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]


def is_leap(year):
    """Return True for leap years, False for non-leap years."""

    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)


def days_in_month(year, month):
    """Return number of days in that month in that year."""

    # year 2017
    # month 2
    if not 1 <= month <= 12:
        return 'Invalid Month'

    if month == 2 and is_leap(year):
        return 29

    return month_days[month]

print(days_in_month(2017, 2))

28