# List 

In Python, a list is a built-in data structure used to store a collection of items or elements. It is a mutable, ordered sequence of elements enclosed in square brackets [ ] and separated by commas.

In [1]:
type([])

list

In [6]:
Var1 = []

In [7]:
type(Var1)

list

In [8]:
lst = list()

In [9]:
type(lst)

list

In [10]:
lst = ['Suwon','Dague','Daejeon']

In [11]:
len(lst)

3

In [12]:
print(lst)

['Suwon', 'Dague', 'Daejeon']

In [13]:
type(lst)

list

### Append

In [14]:
#.append is used to add elements in the list
lst.append("Seoul")

In [15]:
lst

['Suwon', 'Dague', 'Daejeon', 'Seoul']

In [16]:
# add multiple elements using the + operator
my_list = [1, 2, 3]
my_list = my_list + [4, 5, 6]
print(my_list)   # output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [20]:
# add multiple elements using the extend() method
my_list = [1, 2, 3]
my_list.extend([4, 5, 6, 7, 8, 9])
print(my_list)   # output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#Indexing in List
my_list[8]

9

In [26]:
my_list[0:6]

[1, 2, 3, 4, 5, 6]

### Insert
Insert data in a specific index/position

In [27]:
my_list.insert(0,1)

In [28]:
my_list

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Extend Method
Insert data in a specific index/position

In [29]:
lst1=[1,2,3,4,5,6,7,8,9]

In [30]:
lst1.extend([10,11])

In [31]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### More Practice

In [32]:
lst1.pop()

11

In [33]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
lst1.pop(5)

6

In [37]:
lst1

[1, 2, 3, 4, 5, 7, 8, 9]

### Count()

In [42]:
lst2= [1,2,3,3,4,5,3,5,6,6,7,8,9,1,1,1]

In [43]:
lst2.count(1) #Counts the total number of 1 available in the list

4

In [54]:
len(lst2)
lst2

[1, 2, 3, 3, 4, 5, 3, 5, 6, 6, 7, 8, 9, 1, 1, 1]

In [60]:
#Find a specific from a specific range from a List.
lst2.index(9,5,13)

#Here index() is searching 9 in between index number 5 to 13

12

In [61]:
max(lst2)

9

In [62]:
min(lst2)

1

### Multiplying a List

In [63]:
lst3 = [1,2,3]

In [64]:
lst3

[1, 2, 3]

In [66]:
lst3*3 #It is appending the full list 3 times

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [73]:
lst3 #But it does not update the original List

[1, 2, 3]

In [67]:
Cities = ['Suwon','Seoul','Daejeon']

In [72]:
Cities

['Suwon', 'Seoul', 'Daejeon']

In [74]:
Cities*2 #It is appending the full list 2 times

['Suwon', 'Seoul', 'Daejeon', 'Suwon', 'Seoul', 'Daejeon']

In [71]:
Cities #But it does not update the original List

['Suwon', 'Seoul', 'Daejeon']