# Set
In Python, a set is an unordered collection of unique elements. It is defined using curly braces {} or the set() function. Sets are commonly used for performing mathematical operations like union, intersection, difference, and symmetric difference.

In [6]:
# creating a set
my_set = {1, 2, 2, 3, 4, 5,1, 1}

In [8]:
#Does not contain duplicate values
my_set

{1, 2, 3, 4, 5}

In [28]:
cities = {'Suwon','Seoul','Daejeon'}

In [10]:
print(cities)
type(cities)

{'Daejeon', 'Suwon', 'Seoul'}

set

### Add and Update

In [30]:
cities.add('Ulsan')
cities.update(['Sejong', 'Gwangju'])

In [31]:
cities

{'Daejeon', 'Gwangju', 'Sejong', 'Seoul', 'Suwon', 'Ulsan'}

### Sets are commonly used for performing mathematical operations like union, intersection, difference, and symmetric difference.

In [16]:
city1 = {'Suwon','Seoul','Ulsan'}
city2 = {'Daejeon', 'Seoul', 'Suwon', 'Ulsan'}

In [33]:
#Difference
city2.difference(city1)     #Only returns the uncommon data of city2

{'Daejeon'}

In [35]:
city1.difference(city2)     #Only returns the uncommon data of city1

set()

In [39]:
city1

{'Seoul', 'Suwon', 'Ulsan'}

In [40]:
city2

{'Daejeon', 'Seoul', 'Suwon', 'Ulsan'}

In [41]:
#Difference_update
city2.difference_update(city1)

In [42]:
city2

{'Daejeon'}

In [43]:
city1

{'Seoul', 'Suwon', 'Ulsan'}

### Remove & Discard

In [50]:
set1 = {1, 2, 3, 4,5,6,7,8,9}

In [51]:
set1.remove(2)
set1.discard(3)
set1

{1, 4, 5, 6, 7, 8, 9}

### Checking if an element is in a set:

In [55]:
if 5 in set1:
    print("5 is in the set")

5 is in the set

### Finding the length of a set:

In [57]:
print(len(set1))

7

### Performing set operations like union, intersection, and difference:

In [58]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [59]:
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [62]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{3, 4}

In [63]:
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

### Symmetric difference between two sets

In [64]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 6, 7, 8}

### Checking if one set is a subset of another set:

In [65]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

### Checking if one set is a superset of another set:

In [66]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 3}
if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2